* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.input-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}

.tweet-space {
  width: 100%;
}

.tweet-space textarea {
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  font-family: Inter, sans-serif;
}

button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}
